# From backend
./minas_app/node_modules
./minas_app/npm-debug.log

# From FrontEnd
./minas-gecelca/node_modules
./minas-gecelca/npm-debug.log
./minas-gecelca/.git
./minas-gecelca/.firebase
./minas-gecelca/.editorconfig
./minas-gecelca/e2e
./minas-gecelca/docs
./minas-gecelca/.gitignore
./minas-gecelca/*.zip
./minas-gecelca/*.md
